.layout {
    display: flex;
    height: 700px;
}

.topNavi {
    width: 250px;
    height: 100%;
    background-color: rgb(89, 90, 90);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.topNavi a {
    text-decoration: none;
    color: white;
}
.content {
    flex: 1;
    padding: 30px;
}